<section id="hero-default" class="hero" style="display: ">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
      <p class="text hero-info">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.
      </p>
      <div class="hero-default-button-container btn-primary">
        <button class="hero-button btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</section>

<!-- =========================
   RANDOM MOVIE HERO SECTION
========================= -->
<section id="hero-random-movie" class="hero-movie" style="display: none">
  <div class="hero-movie-container">
    <img
      id="hero-movie-poster"
      class="hero-movie-poster"
      alt="Movie Poster"
      loading="lazy"
    />
    <div class="hero-movie-content">
      <h1 class="hero-movie-title">Movie Title</h1>
      <div class="hero-movie-stars"></div>
      <p class="hero-movie-details text">Movie info from API</p>
      <div class="hero-movie-buttons">
        <button class="hero-movie-btn btn-primary" id="watch-trailer-btn">
          Watch trailer
        </button>
        <button
          class="hero-movie-details-btn btn-secondary"
          id="more-details-btn"
        >
          More details
        </button>
      </div>
    </div>
  </div>
</section>
<svg style="display: none">
  <symbol id="full-star" viewBox="0 0 14 14">
    <path d="M10.7742 13.1249C10.6822 13.1253..." fill="url(#paint0_linear)" />
  </symbol>

  <symbol id="half-star" viewBox="0 0 14 14">
    <path d="M7 1.3125V9.95312..." fill="url(#paint1_linear)" />
  </symbol>

  <symbol id="empty-star" viewBox="0 0 14 14">
    <path d="M13.125 5.6875H8.42188..." stroke="url(#paint0_linear)" />
  </symbol>
</svg>

<!-- TRAILER MODAL esc ve DIŞARI TIKLAYINCA KAPANIR -->
<div class="trailer" id="trailer-modal" style="display: none">
  <div class="trailer-content">
    <button class="trailer-close-btn" type="button">
      <svg>
        <use href="./img/sprite.svg#close-mobile"></use>
      </svg>
    </button>
    <p class="trailer-info">
      OOPS... <br />
      We are very sorry! <br />
      But we couldn’t find the trailer.
    </p>
    <img
      src="./img/Trailer-Error-Mobile.png"
      srcset="./img/Trailer-Error-Desktop@2x.png 2x"
      alt="Trailer not found"
      class="trailer-image"
    />
  </div>
</div>
