<section id="hero-default" class="hero" style="display: none">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
      <p class="text hero-info">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.
      </p>
      <div class="hero-default-button-container btn-primary">
        <button class="hero-button btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</section>

<!-- =========================
   RANDOM MOVIE HERO SECTION
========================= -->
<section id="hero-random-movie" class="hero-movie" style="display: none">
  <div class="hero-movie-container">
    <img
      id="hero-movie-poster"
      class="hero-movie-poster"
      alt="Movie Poster"
      loading="lazy"
    />
    <div class="hero-movie-content">
      <h1 class="hero-movie-title">Movie Title</h1>
      <div class="hero-movie-stars">★★★★★</div>
      <p class="hero-movie-details">Movie info from API</p>
      <div class="hero-movie-buttons">
        <button class="hero-movie-btn btn-primary" id="watch-trailer-btn">
          Watch trailer
        </button>
        <button class="hero-movie-details-btn" id="more-details-btn">
          More details
        </button>
      </div>
    </div>
  </div>
</section>
