<section class="library-hero" id="library-hero">
  <div class="library-hero-bg">
    <div class="library-hero-bg-overlay">
      <div class="library-hero-content">
        <h4 class="library-hero-title">Create Your Dream Cinema</h4>
        <p class="library-hero-subtitle">
          Is a guide to designing a personalized movie theater experience with
          the right equipment, customized decor, and favorite films. This guide
          helps you bring the cinema experience into your own home with cozy
          seating, dim lighting, and movie theater snacks.
        </p>
      </div>
    </div>
  </div>
</section>
<script type="module" src="./js/library-hero.js"></script>
