<div class="trailer" id="trailer-modal" style="display: none;">
  <div class="trailer-content">
    <button class="trailer-close-btn" type="button">
      <svg>
        <use href="./img/sprite.svg#close-mobile"></use>
      </svg>
    </button>

    <p class="trailer-info">
      OOPS... <br />
      We are very sorry! <br />
      But we couldn’t find the trailer.
    </p>
    <img
      src="./img/Trailer-Error-Mobile.png"
      srcset="./img/Trailer-Error-Desktop@2x.png"
      alt="Trailer Image"
      class="trailer-image"
    />
  </div>
</div>
