<section id="movie-upcoming" class="upcoming">
  <div class="upcoming-content">
    <div class="upcoming-header">
      <img
        class="upcoming-poster"
        src="./img/Home-Upcoming.jpg"
        alt="Movie Poster"
        id="upcoming-poster"
      />
    </div>
    <div class="upcoming-desktop">
      <div class="upcoming-info">
        <h2 class="upcoming-title" id="upcoming-title">Movie Title</h2>

        <ul class="upcoming-stats">
          <li class="upcoming-stats-item">
            <h3>Release date</h3>
            <span id="upcoming-release">03.03.2023</span>
          </li>
          <li class="upcoming-stats-item">
            <h3>Vote / Votes</h3>
            <div class="upcoming-rating">
              <span id="upcoming-vote">0.0 </span>
              /
              <span id="upcoming-votes">1260</span>
            </div>
          </li>
          <li class="upcoming-stats-item">
            <h3>Popularity:</h3>
            <span id="upcoming-popularity">99.9</span>
          </li>
          <li class="upcoming-stats-item">
            <h3>Genre</h3>
            <span id="upcoming-genre">Comedy, action</span>
          </li>
        </ul>
      </div>

      <div class="upcoming-overview" id="upcoming-overview">
        <h3 class="upcoming-overview-title">About</h3>
        <p class="upcoming-overview-text">
          Reclusive author Loretta Sage writes about exotic places
          in her popular adventure novels that feature a handsome cover model
          named Alan. While on tour promoting her new book with Alan, Loretta
          gets kidnapped by an eccentric billionaire who hopes she can lead him
          to an ancient city's lost treasure from her latest story. Determined
          to prove he can be a hero in real life and not just on the pages
          of her books, Alan sets off to rescue her.
        </p>
      </div>

      <button
        class="upcoming-library-btn btn-primary"
        id="upcoming-library-btn"
      >
        Add to my library
      </button>
    </div>
  </div>
</section>

<script type="module" src="./js/upcoming.js"></script>
