/* Styles for Mobile devices */
body {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-search {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  justify-content: center;
  align-items: center;
  position: relative;
}

.catalog-search:first-child {
  align-items: center;
}

.catalog-search input {
  width: 173px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 40px 10px 20px;
  margin-bottom: 12px;
}

.clear-button {
  position: absolute;
  top: 12px;
  left: 140px;
  width: 15px;
  height: 15px;
  background-color: inherit;
  cursor: pointer;
}

.clear-button svg {
  width: 15px;
  height: 15px;
}

.search-button {
  width: 224px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 142px 10px 20px;
}

.catalog-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.catalog-pages button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.catalog-pages button:active {
  background-color: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
}

.catalog-movie-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 22px;
}

.catalog-movie-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.catalog-movie-item:hover {
  cursor: pointer;
}

.search-icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-accent);
  border-radius: 50%;
  background-color: var(--color-accent);
  margin-left: 25px;
}

.search-icon svg {
  width: 40px;
  height: 40px;
  margin-left: 9px;
  margin-top: 9px;
}

.catalog-dropdown-filter {
  width: 200px;
  height: 40px;
  position: relative;
  color: #eee;
  margin-top: 10px;
}

.catalog-dropdown-filter .selected {
  background: inherit;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: 1.5px solid #666;
  font-weight: 600;
}

.catalog-dropdown-filter .options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #1c1c1c;
  border-radius: 8px;
  margin-top: 6px;
  border: 1.5px solid #444;
  display: none;
  max-height: 420px;
  overflow-y: auto;
  z-index: 100;
}

.catalog-dropdown-filter .option {
  padding: 12px 15px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.catalog-dropdown-filter .option:last-child {
  border-bottom: none;
}

.catalog-dropdown-filter .option:hover {
  background: #222;
}

.catalog-dropdown-filter .option.selected {
  color: var(--color-accent);
}

.custom-select {
  position: relative;
  width: 200px;
}

.selected {
  padding: 12px;
  background: #000;
  border: 1px solid #666;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

/*Ok İşareti */
.arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  transition: 0.2s;
}

.custom-select.open .arrow {
  transform: rotate(-135deg);
  /* ▲ yukarı bakar */
}
