/* Styles for Mobile devices */
body {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
.pagination-button-list {
  display: flex;
  gap: 5px;
}

.catalog-page-btn {
  color: var(--color-white);
}

.catalog-page-btn svg use {
  transition: 0.2s ease;
}

.catalog-container {
  display: flex;
  width: 320px;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin-top: 15px;
}

.catalog-search {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  position: relative;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.catalog-search:first-child {
  align-items: center;
}

/* seçili sayfanın butonu yanması */
.catalog-page-btn.active {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.catalog-search input {
  width: 173px;
  height: 40px;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  padding: 10px 40px 10px 20px;
  background-color: inherit;
  color: var(--color-white);
  background-color: var(--color-black);
}

.clear-button {
  position: absolute;
  top: 12px;
  left: 140px;
  width: 18px;
  height: 18px;
  background-color: inherit;
  cursor: pointer;
}

.clear-button svg {
  width: 18px;
  height: 18px;
}

.search-button {
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  padding: 10px 142px 10px 20px;
}

.search-icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  background-color: var(--color-orange);
}

.search-icon svg {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  margin-top: 8px;
}

.catalog-pages {
  display: flex;
}

.catalog-pages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.catalog-pages-list svg use {
  color: var(--color-white);
  fill: var(--color-white);
}

.catalog-pages-list > li {
  height: 24px;
}

.catalog-pages button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: none;
}

.catalog-pages button:active {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: bold;
}

.catalog-pages-list > li > button > svg {
  width: 24px;
  height: 24px;
}

.catalog-page-btn.prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.catalog-page-btn.prev-btn:active {
  background: none;
}

.catalog-page-btn.prev-btn > svg {
  width: 20px;
  height: 20px;
}

.catalog-page-btn.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.catalog-page-btn.next-btn:active {
  background: none;
}

.catalog-page-btn.next-btn > svg {
  width: 20px;
  height: 20px;
}

.catalog-page-btn.dots-btn {
  background: none;
  width: 10px;
}

.catalog-page-btn.dots-btn:active {
  background: none;
}

.catalog-page-btn.dots-btn > svg {
  width: 7px;
  height: 4px;
}

.catalog-movie-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  width: max-content;
  height: min-content;
}

.catalog-movie-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.catalog-movie-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.catalog-movie-item:hover {
  cursor: pointer;
}

.catalog-dropdown-filter {
  position: relative;
  width: 95px;
  height: 48px;
}

.catalog-dropdown-filter .selected {
  background: inherit;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: 1.5px solid var(--color-grey);
  color: var(--color-grey);
  background-color: var(--color-black);
  font-weight: 500;
  height: 45px;
}

.catalog-dropdown-filter .options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: 8px;
  margin-top: 6px;
  border: 1.5px solid var(--color-grey);
  display: none;
  max-height: 420px;
  overflow-y: auto;
  z-index: 100;
}
.catalog-dropdown-filter .option {
  padding: 12px 15px;
  border-bottom: 1px solid var(--color-grey);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.catalog-dropdown-filter .option:last-child {
  border-bottom: none;
}

.catalog-dropdown-filter .option:hover {
  color: var(--color-white);
  background: var(--color-black);
}

[data-theme='light'] .catalog-dropdown-filter .option:hover {
  background: rgba(0, 0, 0, 0.08);
}

.catalog-dropdown-filter .option.selected {
  color: var(--color-orange);
}

.selected {
  padding: 12px;
  background: var(--color-black);
  border: 1px solid var(--color-grey);
  cursor: pointer;
  color: var(--color-white);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

/*Ok İşareti */
.arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  transition: 0.2s;
}

.custom-select.open .arrow {
  transform: rotate(-135deg);
  /* ▲ yukarı bakar */
}

.footer-desc {
  width: 236px;
  font-size: 13px;
}

/* Styles for Tablet Devices */
@media (min-width: 768px) {
  body {
    width: 768px;
  }
  .catalog-container {
    width: 768px;
    padding: 0;
  }

  .catalog-content {
    width: 768px;
  }

  main {
    width: 768px;
  }

  .card-title,
  .card-info {
    width: 112px;
  }

  .catalog-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-item {
    width: 224px;
    height: 325px;
  }

  .catalog-movie-items {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    width: 768px;
    height: min-content;
    padding: 0;
  }

  .catalog-search input {
    width: 188px;
    height: 44px;
  }

  .search-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-icon svg {
    margin-top: 18px;
    margin-left: 12px;
  }

  .clear-button {
    margin-top: 3px;
    margin-left: 3px;
    background-color: inherit;
  }

  .footer-desc {
    width: 482px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

/* Styles for Desktop Devices */

@media (min-width: 1280px) {
  body {
    width: 1280px;
    height: max-content;
  }

  .catalog-content {
    width: 1280px;
  }

  .catalog-search input {
    width: 315px;
    height: 48px;
  }

  .catalog-pages {
    width: min-content;
    height: 40px;
  }

  .catalog-page-btn {
    width: 40px;
    height: 40px;
  }

  .clear-button {
    margin-left: 140px;
  }

  .catalog-movie-list {
    width: 1216px;
  }

  .card-item {
    width: 395px;
    height: 574px;
  }

  .card-title,
  .card-info {
    width: 190px;
  }

  .card-rating {
    width: 106px;
  }

  .footer-desc {
    width: 482px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
