.footer {
  padding: 20px 0;
}
.footer-desc {
  text-align: center;
  line-height: 25px;
}
.footer-link {
 text-decoration: underline;
}
.footer-link::before {
  content: '';
  
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}

.heart{
  margin-right: 7px;
  margin-left: 7px;
}
