.footer {
  padding: 20px 0;
}

.footer-desc {
  text-align: center;
  line-height: 25px;
}
.footer-link {
 text-decoration: underline;
}

.heart-icon{
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-left: 5px;
}