.footer {
  padding: 20px 0;
}

.footer-desc {
  text-align: center;
  line-height: 25px;
}
.footer-link {
 text-decoration: underline;
}

.heart-icon{
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .footer {
    padding: 30px 0;
  }

  .footer-desc {
    font-size: 14px;
  }

  .heart-icon{
    width: 16px;
    height: 16px;
    margin-right: 7px;
    margin-left: 7px;
  }
}