body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.header {
  min-width: 320px;
  height: 48px;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
}

.header-nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-logo-icon {
  width: 32px;
  height: 32px;
}

.header-nav-items {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-grey);
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.header-nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link.active {
  color: var(--color-accent);
}

.header-nav-link.active::after {
  background: var(--color-accent);
}

.header-nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  transition: width 0.3s ease;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
  opacity: 0;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after,
.header-nav-link.active::after {
  width: 110%;
  opacity: 1;
}

.theme-toggle-btn {
  width: 44px;
  height: 18px;
  background: none;
  cursor: pointer;
  background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
  border-radius: 194px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.theme-icon {
  width: 10px;
  height: 10px;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(255, 255, 255, 0.2);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.35s ease;

  z-index: 10;
}

#sidebar-input:checked ~ .sidebar-overlay {
  opacity: 1;
  pointer-events: auto;
}

.nav-logo-mobile-icon {
  width: 32px;
  height: 32px;
}

.header-sidebar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-sidebar-logo {
  z-index: 999;
}

#sidebar-input {
  display: none;
}

.sidebar-menu {
  cursor: pointer;
  color: var(--color-grey);
}

.header-sidebar-items {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  padding: 80px 20px;
  width: 204px;
  height: 428px;
  border-radius: 0 8px 8px 0;
  background: #171717;

  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1.35s ease, opacity 1.35s ease;
  z-index: 998;
}

#sidebar-input:checked ~ .header-sidebar-items {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

.header-sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-sidebar-item {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: var(--color-text);
  transition: 200ms ease-in;
}

.header-sidebar-item:hover,
.header-sidebar-item:focus,
.header-sidebar-item:active {
  color: var(--color-accent);
}

.header-sidebar-item.active {
  color: var(--color-accent);
}

@media (min-width: 768px) {
  .header {
    min-width: 768px;
    height: 60px;
    padding: 12px 0;
  }

  .header-sidebar {
    display: none;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    min-width: 704px;
  }

  .header-nav-logo {
    gap: 8px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: var(--color-text);
  }

  .nav-logo-icon {
    width: 48px;
    height: 48px;
  }

  .header-nav-items {
    display: flex;
    justify-content: space-between;
    width: 475px;
    font-size: 14px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
  }

  .theme-toggle-btn {
    width: 60px;
    height: 24px;
    padding: 3px;
  }

  .theme-icon {
    width: 14px;
    height: 14px;
  }

  .theme-circle-icon {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
    padding: 6px 32px;
  }

  .header-nav {
    padding: 0 32px;
    min-width: 1216px;
  }

  .header-nav-items {
    width: 739px;
  }
}
