.trailer {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-sizing: border-box;
}

.trailer-content {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 auto;
}

.trailer-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =========================
   HERO SECTION
========================= */
.hero {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 360px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-movie {
  padding: 0;
}

/* Posterı crop eden kutu */
.hero-movie-poster-crop {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 320px;
  height: 380px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.hero-container {
  background-image: url('../img/Hero-Home-Mobile.jpg');
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 120%;
  background-color: black;
  width: 320px;
  position: relative;
}

.hero-container,
.hero-movie-container {
  width: 320px;
  height: 380px;
}

.hero-movie-stars {
  position: relative;
  width: 124px;
  padding: 12px 0 20px 0;
}

.hero-movie-stars .card-rating li {
  line-height: 1;
}

#hero-random-movie {
  position: relative;
}

/* Left Overlay */
#hero-random-movie::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.02) 89%,
    transparent 90%
  );
  z-index: 1;
  pointer-events: none;
}

.hero-movie-container {
  display: flex;
  padding: 40px 20px;
  object-fit: none;
}

.hero-movie-content {
  display: flex;
  flex-direction: column;
  min-height: 210px;
  gap: 20px;
  z-index: 2;
}

.hero-movie-buttons {
  gap: 8px;
  width: 242px;
  display: flex;
  flex-direction: row;
  color: var(--color-secondary-black);
}
.hero-movie-btn {
  color: var(--color-secondary-black);
}
.hero-movie-details-btn {
  width: 117px;
  height: 38px;
  color: var(--color-secondary-grey);
  border: 1px solid var(--color-secondary-black);
}

.hero-movie-details {
  width: 177px;
  max-height: 66px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.hero-title,
.hero-movie-title {
  width: 242px;
  font-size: 32px;
  color: #fff;
}

.hero-movie-details,
.hero-info {
  font-size: 14px;
  color: var(--color-secondary-grey);
}

@media (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/Hero-Home-Mobile@2x.jpg');
  }
}
/* Tablet */

@media (min-width: 768px) {
  .hero-movie {
    min-width: 768px;
    max-height: 372px;
  }
  .hero-movie-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    gap: 20px;
    padding: 0;
  }

  /* Posterı crop eden kutu */
  .hero-movie-poster-crop {
    width: 482px;
    height: 432px;
    z-index: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }

  /* İçerik sol tarafta */
  .hero-movie-content {
    padding: 36px 0 0 32px;
    z-index: 3;
  }

  /* Sadece içerik üzerine gelen -104° açıyla %10 opaklıkta gradient */
  .hero-movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      -104deg,
      rgba(17, 17, 17, 0.1) 10%,
      rgba(17, 17, 17, 0.2) 20%,
      rgba(17, 17, 17, 1) 55%,
      rgba(17, 17, 17, 1) 100%,
      transparent 100%
    );
    z-index: 2;
    pointer-events: none;
  }

  .hero-container {
    background-image: url('../img/Hero-Home-Tablet.jpg');
    width: 100vw;
    background-size: cover;
    background-position: -300px center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .hero-container,
  .hero-movie {
    width: 768px;
  }

  .hero-title,
  .hero-movie-title {
    font-size: 44px;
    width: 295px;
  }

  .hero-info {
    width: 360px;
    margin-bottom: 10px;
  }

  .hero-info::after {
    content: ' Decorate your space, choose your films, and stock up on snacks for the full experience.';
    display: inline;
  }

  .hero-movie-details {
    width: 295px;
    min-height: 65px;
    gap: 10px;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
    font-size: 14px;
  }

  .hero-movie-btn,
  .hero-movie-details-btn {
    height: 40px;
    font-size: 14px;
  }
}

@media (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/Hero-Home-Tablet@2x.jpg');
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .hero-container {
    background-image: url('../img/Hero-Home-Desktop.jpg');
    background-position: center 100%;
  }
  .hero-container,
  .hero-movie {
    width: 1280px;
    min-height: 660px;
  }

  .hero-title {
    margin-bottom: 10px;
  }

  .hero-title,
  .hero-movie-title {
    font-size: 64px;
  }

  .hero-movie-title {
    width: 500px;
  }

  .hero-movie-stars {
    padding: 16px 0 28px 0;
  }

  .hero-movie-details,
  .hero-info {
    font-size: 16px;
  }
  .hero-info {
    height: 76px;
    width: 410px;
    margin: 0;
  }
  .hero-movie-details {
    width: 367px;
    min-height: 72px;
    margin-bottom: 16px;
  }
  .hero-movie-btn,
  .hero-movie-details-btn {
    height: 48px;
    font-size: 16px;
  }

  .hero-movie-container {
    height: 660px;
  }

  .hero-movie-poster-crop {
    width: 802px;
    height: 720px;
  }

  .hero-movie-content {
    padding: 118px 0 0 134px;
  }

  .hero-movie-overlay {
    background: linear-gradient(
      -104deg,
      rgba(17, 17, 17, 0.1) 10%,
      rgba(17, 17, 17, 0.2) 40%,
      rgba(17, 17, 17, 1) 55%,
      rgba(17, 17, 17, 1) 100%,
      transparent 100%
    );
    z-index: 2;
    pointer-events: none;
  }
}

@media (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/Hero-Home-Desktop@2x.jpg');
  }
}
