.trailer {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-sizing: border-box;
}

.trailer-content {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 auto;
}

.trailer-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =========================
   HERO SECTION
========================= */
.hero {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 360px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  background-image: url('../img/Hero-Home-Mobile.jpg');
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 120%;
  background-color: black;
  width: 320px;
  height: 600px;
  position: relative;
}

.hero-container,
.hero-movie-container {
  position: relative;
  width: 320px;
  height: 380px;
}

.hero-movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#hero-random-movie {
  position: relative;
}

/* Left Overlay */
#hero-random-movie::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(0, 0, 0, 0.3) 60%,
    transparent 100%
  );
  z-index: 1;
  pointer-events: none;
}

.hero-movie-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hero-movie-content {
  padding-left: 20px;
  position: absolute;
  width: 177px;
  z-index: 2;
}

.hero-movie-buttons {
  gap: 8px;
  width: 242px;
  display: flex;
  flex-direction: row;
}
.hero-movie-btn,
.hero-movie-details-btn {
  width: 117px;
  height: 38px;
}

.hero-movie-details {
  font-size: 12px;
  width: 177px;
  height: 66px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

@media (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/Hero-Home-Mobile@2x.jpg');
  }
}
/* Tablet */

@media (min-width: 768px) {
  .hero-movie-container {
    position: relative;
    width: 400px;
    height: 432px;
    gap: 20px;
    width: 100vw;
    height: 600px;
  }
  .hero-movie-details {
    gap: 10px;
  }
  .hero-movie-poster {
    object-fit: cover;
  }
  .hero-container {
    background-image: url('../img/Hero-Home-Tablet.jpg');
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-position: -300px center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .hero-container,
  .hero-movie {
    width: 768px;
  }

  .hero-title {
    width: 300px;
  }

  .hero-info {
    width: 360px;
    margin-bottom: 10px;
  }

  .hero-info::after {
    content: ' Decorate your space, choose your films, and stock up on snacks for the full experience.';
    display: inline;
  }

  .hero-movie-btn,
  .hero-movie-details-btn {
    height: 40px;
    font-size: 14px;
  }
}

@media (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/Hero-Home-Tablet@2x.jpg');
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .hero-container {
    background-image: url('../img/Hero-Home-Desktop.jpg');
    background-position: center 100%;
  }
  .hero-container,
  .hero-movie {
    width: 1280px;
    min-height: 660px;
  }

  .hero-content,
  .hero-movie-content {
    max-width: 500px;
    left: 48px;
  }
  .hero-title {
    margin-bottom: 10px;
  }

  .hero-info {
    height: 76px;
    width: 410px;
    margin: 0;
  }
  .hero-movie-details {
    width: 367px;
    padding-bottom: 10px;
  }
  .hero-movie-btn,
  .hero-movie-details-btn {
    height: 48px;
    font-size: 16px;
  }

  .hero-movie-container {
    margin-top: 60px;
  }
}

@media (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/Hero-Home-Desktop@2x.jpg');
  }
}
