.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.home-title h2 {
  font-size: 16px;
  font-weight: var(--fw-medium);
  color: var(--color-text);
  text-transform: uppercase;
}

.home-title a {
  font-size: 16px;
  font-weight: var(--fw-medium);
  color: var(--color-accent);
}

.home-monthly-content .home-title h2 {
  margin-left: 20px;
}

.home-movie-list {
  display: flex;
  flex-direction: column;
  padding: 24px 0 12px 0;
  gap: 16px;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .home-container {
    min-width: 768px;
    padding: 22px;
  }

  .home-weekly-content .home-title h2,
  .home-weekly-content .home-title a,
  .home-monthly-content .home-title h2 {
    font-size: 24px;
    line-height: 1.5;
  }

  .home-monthly-content .home-title h2 {
    margin-left: 34px;
  }

  .home-movie-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .home-movie-list {
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    min-width: 1280px;
    padding: 32px;
  }

  .home-weekly-content {
    width: 100%;
  }

  .home-monthly-content {
    width: 100%;
  }

  .home-monthly-content .home-title h2 {
    margin-left: 0;
  }

  .home-movie-list {
    padding: 28px 0 0 0;
  }
}
