.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.home-title h2 {
    font-size: 16px;
    font-weight: var(--fw-medium);
    color: var(--color-text);
    text-transform: uppercase;
}

.home-title a {
    font-size: 16px;
    font-weight: var(--fw-medium);
    color: var(--color-accent);
}

.home-movie-list {
    display: flex;
    flex-direction: column;
    padding: 24px 0 12px 0;
    gap: 16px;
    overflow-x: auto;
}