/*Mobile Styles*/
.library-hero {
  height: 380px;
  margin-bottom: 40px;
}
.library-hero-bg {
  background-image: url('../img/Hero-My-Library-Mobile.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 120%;
  background-color: black;
  width: 320px;
  height: 600px;
  position: relative;
}

.library-hero-bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.02) 89%,
    transparent 90%
  );
}

.library-hero-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 16px;
  position: absolute;
}
.library-hero-title {
  margin-top: 40px;
  font-size: 32px;
  width: 235px;
}

.library-hero-subtitle {
  width: 249px;
  font-size: 14px;
  color: var(--color-secondary-white);
}

@media (min-resolution: 2dppx) {
  .library-hero-bg {
    background-image: url('../img/Hero-My-Library-Mobile@2x.jpg');
  }
}
/*Tablet Styles*/

@media only screen and (min-width: 768px) {
  .library-hero {
    width: 768px;
  }

  .library-hero-bg {
    background-image: url('../img/Hero-My-Library-Tablet.jpg');
    position: relative;
    height: 432px;
    gap: 20px;
    width: 100vw;
    width: 100%;
  }

  .library-hero-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0.1) 80%,
      rgba(0, 0, 0, 0.02) 89%,
      transparent 100%
    );
  }
  .library-hero-subtitle {
    width: 420px;
  }

  .library-hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .library-hero-title {
    font-size: 44px;
    width: 350px;
  }

  .library-hero-subtitle {
    font-size: 14px;
  }

  @media (min-resolution: 2dppx) {
    .library-hero-bg {
      background-image: url('../img/Hero-My-Library-Tablet@2x.jpg');
    }
  }
}

/*Desktop Styles*/

@media only screen and (min-width: 1280px) {
  .library-hero {
    width: 1280px;
    margin-bottom: 240px;
  }

  .library-hero-bg {
    background-image: url('../img/Hero-My-Library-Desktop.jpg');
    background-size: 100% auto;
    min-height: 720px;
  }

  .library-hero-content {
    margin-top: 100px;
  }

  .library-hero-title {
    width: 500px;
    font-size: 64px;
  }

  .library-hero-subtitle {
    font-size: 16px;
    width: 464px;
    height: 76px;
  }

  @media (min-resolution: 2dppx) {
    .library-hero-bg {
      background-image: url('../img/Hero-My-Library-Desktop@2x.jpg');
    }
  }
}
