/*Mobile Styles*/

.library-hero-bg {
  background-image: url('../img/Hero-My-Library-Mobile.jpg');
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 120%;
  background-color: black;
  width: 320px;
  height: 600px;
  position: relative;
}

.library-hero-bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.779) 30%,
    rgba(0, 0, 0, 0.151) 80%
  );
}

.library-hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 160px 20px 144px 36px;
}

.library-hero-title {
  text-align: start;
  color: var(--white-color);
}

.library-hero-subtitle {
  text-align: start;
  font-size: 14px;
  color: var(--white-color);
}

@media (min-resolution: 2dppx) {
  .library-hero-bg {
    background-image: url('../img/Hero-My-Library-Mobile@2x.jpg');
  }
}
/*Tablet Styles*/

@media only screen and (min-width: 768px) {
  .library-hero-bg {
    margin-left: calc(-50vw + 50%);
    margin-right: 40px;
    padding: 0;
    background-image: url('../img/Hero-My-Library-Tablet.jpg');
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-position: -300px center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .library-hero-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.7) 30%,
      rgba(0, 0, 0, 0.3) 60%,
      transparent 100%
    );
  }
  .library-hero-subtitle {
    width: 420px;
  }

  .library-hero-content {
    margin-left: 60px;
    margin-right: auto;
    max-width: 500px;
  }

  .library-hero-title {
    width: 350px;
  }

  @media (min-resolution: 2dppx) {
    .library-hero-bg {
      background-image: url('../img/Hero-My-Library-Tablet@2x.jpg');
    }
  }
}

/*Desktop Styles*/

@media only screen and (min-width: 1280px) {
  .library-hero-bg {
    width: 1280px;
    height: 600px;
    background-image: url('../img/Hero-My-Library-Desktop.jpg');
    background-size: 99% auto;
    background-position: 2000%;
  }

  .library-hero-content {
    margin: 169px 699px 249px 60px;
  }

  .library-hero-title {
    width: 500px;
  }

  .library-hero-subtitle {
    font-size: 16px;
    width: 500px;
  }

  @media (min-resolution: 2dppx) {
    .library-hero-bg {
      background-image: url('../img/Hero-My-Library-Desktop@2x.jpg');
    }
  }
}
