/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./animations.css');
@import url('./base.css');
@import url('./card.css');
@import url('./catalog.css');
@import url('./container.css');
@import url('./reset.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./hero.css');
@import url('./myLibrary.css');
@import url('./home.css');
